<div class="flex-parent-row">
  <div class="center-panel">
    <md-card><h3>Personal best and recent performance
    </h3>
      <md-select (change)="populateTable()" #actSelect placeholder="Activity Name" name="activity"

                 [(ngModel)]="selectedActivity">
        <md-option *ngFor="let act1 of activitylist" [value]="act1">{{act1}}</md-option>
      </md-select>
      <table *ngIf="!selectedCardio">
        <colgroup>
          <col style="background-color: #8dc9ff">
          <col span="2">
        </colgroup>
        <thead>
        <tr>
          <th>Weight</th>
          <th>Personal best</th>
          <th>Most recent</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of realTableStructure">
          <ng-container *ngFor="let cell of row; let ndx = index">
            <th *ngIf="ndx < 1">{{cell}}</th>
            <td *ngIf="ndx == 1">{{cell}}</td>
            <td *ngIf="ndx > 1" [innerHTML]='cell'></td>
          </ng-container>
        </tr>
        </tbody>
      </table>
      <table *ngIf="selectedCardio">
        <colgroup>
          <col style="background-color: #8dc9ff">
          <col span="2">
        </colgroup>
        <thead>
        <tr>
          <th>Duration</th>
          <th>Personal best</th>
          <th>Most recent</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of realTableStructure">
          <ng-container *ngFor="let cell of row; let ndx = index">
            <th *ngIf="ndx < 1">{{cell}}</th>
            <td *ngIf="ndx == 1">{{cell}}</td>
            <td *ngIf="ndx > 1" [innerHTML]='cell'></td>
          </ng-container>
        </tr>
        </tbody>
      </table>


    </md-card>
  </div>
</div>
