
md-card{
     display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-style:solid;
  border-collapse: collapse;
 
}

td {
  text-align: center;
}
th {
  padding: 10px;  
}

tbody {
  padding: 0 10px;
}
