<br>
<div *ngIf="submitting" class="flex-parent-row">
  <div class="center-panel savingSpinner">
    <div style="text-align: center"><h2>{{savingText}}</h2></div>
    <app-load-spinner></app-load-spinner>
  </div>
</div>
<form *ngIf="!submitting" #form1="ngForm" id="form1" name="form1" (ngSubmit)="onSubmit()">
  <div class="flex-parent-row">
    <div class="center-panel">
      <mat-card><h3>Set goal: How many workouts per week?
      </h3>
        <mat-form-field>
          <input matInput placeholder="Workouts" #WO name="WO" id="WO"
                 [(ngModel)]="target.number" type="number"><span matSuffix>per week</span>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Save
        </button>
      </mat-card>
    </div>
  </div>
  <br>
</form>
