<div class="flex-parent-row marketing-height">
  <div class="center-panel">
    <md-grid-list cols="3" gutterSize="10px" rowHeight="100%">
      <md-grid-tile-header style="text-align: center">
        <h1 style="color: midnightblue"> 50 million people strong</h1>
        <h2><strong>Welcome to the community!</strong></h2>

      </md-grid-tile-header>


      <md-grid-tile>
        <md-card>
          <md-card-header>
            <md-card-title>
              Kaylyn, 26<br>Cambridge, MA
            </md-card-title>
          </md-card-header>
          <img md-card-image
               src="https://static-web.Runkeeper.com/build/14445/static/sparta/homepage/assets/community-reviewer-1.png">
          <md-card-content>
            "I love that I can look through my Fitness Tracker app to see the progress I have made."

          </md-card-content>
        </md-card>
      </md-grid-tile>


      <md-grid-tile>
        <md-card>
          <md-card-header>
            <md-card-title>
              Jordan, 24 <br>Waterlooville, U.K.
            </md-card-title>
          </md-card-header>
          <img md-card-image
               src="https://static-web.Runkeeper.com/build/14445/static/sparta/homepage/assets/community-reviewer-2.png">
          <md-card-content>"I love how user friendly Fitness Tracker is. From training plans to workouts, it makes
            organizing my runs a breeze."
          </md-card-content>
        </md-card>
      </md-grid-tile>

      <md-grid-tile>
        <md-card>
          <md-card-header>
            <md-card-title>
              Derek, 45<br>Lexington, VA
            </md-card-title>
          </md-card-header>
          <img md-card-image
               src="https://static-web.Runkeeper.com/build/14445/static/sparta/homepage/assets/community-reviewer-3.png">
          <md-card-content>"Fitness Tracker helps me set and reach my goals, motivating me to stay ahead of my family
            history of poor health."
          </md-card-content>
        </md-card>
      </md-grid-tile>
    </md-grid-list>

  </div>
</div>

