<app-branding></app-branding>
<div class="flex-parent-row marketing-height">
  <div class="center-panel">
    <mat-grid-list [cols]="colnum" gutterSize="10px" [rowHeight]="rowheight">
      <mat-grid-tile-header style="text-align: center">
        <h1 style="color: midnightblue"> 50 million people strong</h1>
        <h2><strong>Welcome to the community!</strong></h2>

      </mat-grid-tile-header>


      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Kaylyn, 26<br>Cambridge, MA
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image
               src="https://static-web.Runkeeper.com/build/14445/static/sparta/homepage/assets/community-reviewer-1.png">
          <mat-card-content>
            "I love that I can look through my Fitness Tracker app to see the progress I have made."

          </mat-card-content>
        </mat-card>
      </mat-grid-tile>


      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Jordan, 24 <br>Waterlooville, U.K.
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image
               src="https://static-web.Runkeeper.com/build/14445/static/sparta/homepage/assets/community-reviewer-2.png">
          <mat-card-content>"I love how user friendly Fitness Tracker is. From training plans to workouts, it makes
            organizing my runs a breeze."
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Derek, 45<br>Lexington, VA
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image
               src="https://static-web.Runkeeper.com/build/14445/static/sparta/homepage/assets/community-reviewer-3.png">
          <mat-card-content>"Fitness Tracker helps me set and reach my goals, motivating me to stay ahead of my family
            history of poor health."
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>

