<button *ngIf="open" class="setup-slide" [class.slide-up1]="slideUp" routerLink="weigh-in/add" mat-fab>Kg
</button>
<a mat-fab *ngIf="open" class="setup-slide" [class.slide-up2]="slideUp" routerLink="workout/add"><i
  class="material-icons">&#xEB43;</i>
</a>
<mat-chip *ngIf="open" class="setup-slide squarish" [class.slide-up3]="slideUp" [routerLink]="'/workout/add'"
     [queryParams]="{'activity':panel[0]._id}"><i
  class="material-icons">&#xEB43;</i>{{panel[0].name}}
</mat-chip>
<mat-chip *ngIf="open" class="setup-slide squarish" [class.slide-up4]="slideUp" [routerLink]="'/workout/add'"
     [queryParams]="{'activity':panel[1]._id}"><i
  class="material-icons">&#xEB43;</i>{{panel[1].name}}
</mat-chip>
<mat-chip *ngIf="open" class="setup-slide squarish" [class.slide-up5]="slideUp" [routerLink]="'/workout/add'"
     [queryParams]="{'activity':panel[2]._id}"><i
  class="material-icons">&#xEB43;</i>{{panel[2].name}}
</mat-chip>
<!--<button mat-fab *ngIf="open" class="setup-slide" [class.slide-up3]="slideUp"><i class="material-icons">&#xE192;</i>
</button>-->

<button md-fab class="main-fab" (click)="fabClicked()">
  <md-icon class="setup-rotate material-icons md-24" [class.rotate-go]="open" [innerHtml]="'&#xE145;'"></md-icon>
</button>
