
.main-fab {
  position: fixed;
  top: 86%;
  left: 85%;
  z-index: 90;
  background-color: #89dc7b;
  color: #2c2c2c;

}

.setup-slide {
  display: block;
  position: fixed;
  top: 86%;
  left: 85%;
  will-change: transform;
  transition: transform 0.2s ease-in;
  background-color: #89dc7b;
  color: #2c2c2c;

  }
  .squarish{
  padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 15%;
    height: 10%;
    width: 20vw;
    font-weight: 900;

}

@media screen and (min-width: 1200px) {
  .main-fab {
    left: 80%;
  }

  .setup-slide {
    left: 80%;
  }
}

@media screen and (max-width: 651px) {
  .main-fab {
    top: 85%;
    left: 80%;
  }

  .setup-slide {
    top: 85%;
    left: 80%;
  }
}

.setup-rotate {
  will-change: transform;
  transition: transform 2s ease-in;
}

.rotate-go {
  transform: rotate(45deg) !important;
}

.slide-up1 {
  transform: translateY(-120%);

}

.slide-up2 {
  transform: translateY(-240%);

}

.slide-up3 {
  transform: translate(-150%, -340%);

}
.slide-up4{
  transform: translate(-270%, -340%);

}
.slide-up5{

  transform: translate(-30%, -340%);
}
