-c<div class="flex-parent-row times-height">
  <div class="center-panel times-shading flex-parent-col-rev">
    <div style="height: 10%"></div>
    <div class="caption times-caption"><a md-raised-button routerLink="target/add" color="primary">Set Target</a>
      <span style="display: inline-block; width: 3%;"></span>
      <a md-raised-button>View Calendar</a><span style="display: inline-block; width: 6%;"></span></div>
    <div *ngIf="ready" class="flex-parent-row sub-centre flex-col">
      <div #dayGraph id="dayGraph" style="flex: 0 1 auto;min-height: 230px; background-color: #673ab7">


      </div>
      <div style="height:100px;width:100px;flex: initial;">
      <svg height="100" width="100" style="flex:1 0 auto">
        <circle r="40" cx="50" cy="50" stroke="rgba(100,100,100,0.1)" stroke-width="10" stroke-opacity="1"
                fill="transparent"></circle>
        <circle transform="rotate(-90 50 50)" stroke-linecap="round" cx="50" cy="50" r="40" [attr.stroke]="getColor()"
                stroke-dasharray="251" stroke-dashoffset="251" stroke-width="10" stroke-opacity="1" fill-opacity="0">
          <animate attributeName="stroke-dashoffset" from="251"
                   [attr.to]="((100-(progressValue<101 ? progressValue : 100))/100 *251) "
                   dur="3s" repeatCount="1" fill="freeze"></animate>
        </circle>
        <text x="35" y="55" font-weight="bold" font-family="'Roboto', sans-serif;">{{progressValue}}%</text>
      </svg>
      </div>
      <div class="condense" style="flex: 0 0 auto; min-width:150px;"><h3 style="height: 100%; margin: 0; padding-top: 27%; padding-right:30px;"> Your goal is
        {{trgt?.number}} workouts.</h3></div>
    </div>
  </div>
</div>
