
.times-shading {
 /* background-color: #E0E2DC;*/
  width:100%;
}

.condense {
  vertical-align: middle
}

.times-height {
}

.times-caption {
  text-align: right;
  width: 40% !important;
}

@media (max-height: 780px), (max-width: 580px) {
  .condense {
    width: 30%;
  }
}
@media (max-width:950px){

  .flex-col{
        flex-wrap:wrap;
        width:100%;
    }
}

