.times-shading{
  background-color: #E0E2DC;
  height: 100%
}

.condense {
  vertical-align: middle
}

.times-height{
  height: 20%;
}
.times-caption{
  text-align: right;
  width: 40% !important;
}

@media (max-height: 780px), (max-width: 580px) {
  .times-height {
    height: 35%;
  }
  .condense {
    width: 30%;
  }
}

