.times-shading {
  background-color: #E0E2DC;
  height: 100%
}

.condense {
  vertical-align: middle
}

.times-height {
  height: 20%;
  min-height: 230px;
}

.times-caption {
  text-align: right;
  width: 40% !important;
}

@media (max-height: 780px), (max-width: 580px) {
  .condense {
    width: 30%;
  }
}

