<form *ngIf="!submitting" #form2="ngForm" id="form2" name="form2" (ngSubmit)="onSubmit()">
  <div class="flex-parent-row">
    <div class="center-panel">
      <mat-card><h3>Add a new activity to the list
      </h3>
        <div>
          <mat-select (change)="setDirty()" #cardio placeholder="Type" name="type" id="type"
                     [(ngModel)]="strCardio">
            <mat-option value="Cardio">Cardio</mat-option>
            <mat-option value="Weights">Weights</mat-option>
          </mat-select>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Activity name" #nm name="Name" id="name"
                   [(ngModel)]="activity.name" type="">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">
          Save
        </button>
      </mat-card>
    </div>
  </div>
  <br>
</form>
