<br>
<div *ngIf="submitting" class="flex-parent-row">
  <div class="center-panel savingSpinner">
    <div style="text-align: center"><h2>{{savingText}}</h2></div>
    <app-load-spinner></app-load-spinner>
  </div>
</div>
<app-activityadd (actAdded)="refreshList()" *ngIf="addingListActivity"></app-activityadd>
<form *ngIf="!submitting" #form1="ngForm" id="form1" name="form1" (ngSubmit)="onSubmit()">
  <div class="flex-parent-row">
    <div class="center-panel">
      <mat-card><h3>New Workout
      </h3>
        <button mat-raised-button type="button" [style.background-color]="'#818B98'" (click)="showAddActivity()">
          Add an activity to the list of options
        </button>
        <div>
          <mat-form-field>
            <input matInput placeholder="Total Duration" #TotalDuration name="TotalDuration" id="TotalDuration"
                   [(ngModel)]="workout.duration" type="number"><span matSuffix>min</span>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Date" #Date name="Date" id="Date"
                   [(ngModel)]="workout.date" type="date">
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox placeholder="Stretches Done" #StretchesDone name="StretchesDone" id="StretchesDone"
                       [(ngModel)]="workout.stretchesDone">Stretches Done?
          </mat-checkbox>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Average Effort" #avgEffort name="avgEffort" id="avgEffort"
                   [(ngModel)]="workout.averageEffort" type="number"><span matSuffix>%</span>
          </mat-form-field>
        </div> -->
      </mat-card>
    </div>
  </div>
  <br>
  <div *ngFor="let act of workout.activities;let ndx = index;trackBy:rturn" class="flex-parent-row">

    <div class="center-panel">
      <mat-card><h3>Activity {{ndx +1}}
      </h3>


        <span id="Activity1">
      <div><mat-select (change)="setDirty()" #{{ndx}}actSelect placeholder="Activity Name" name="{{ndx}}activity"
                      id="{{ndx}}act"
                      [(ngModel)]="act.activity">
        <mat-option *ngFor="let act1 of activitiesOpt" [value]="act1">{{act1.name}}</mat-option>
      </mat-select></div>
        <div><mat-form-field>
            <input matInput placeholder="Duration" type="number" #Duration{{ndx}} name="{{ndx}}Duration"
                   id="{{ndx}}Duration"
                   [(ngModel)]="act.duration"><span matSuffix>min</span>
          </mat-form-field></div>
        <div *ngIf="act.activity ? act.activity.cardio: true">
          <div><mat-form-field>
            <input matInput placeholder="Distance" type="number" #Distance{{ndx}} name="{{ndx}}Distance"
                   id="{{ndx}}Distance"
                   [(ngModel)]="act.distance"><span matSuffix>m</span>
          </mat-form-field></div>
<div><mat-form-field>
            <input matInput placeholder="Intensity" type="number" #Intensity{{ndx}} name="{{ndx}}Intensity"
                   id="{{ndx}}Intensity"
                   [(ngModel)]="act.intensity">
  <mat-hint align="end">1 to 10</mat-hint>
          </mat-form-field></div>


        </div>
        <div *ngIf="act.activity ? !act.activity.cardio : false">
  <div><mat-form-field>
            <input matInput placeholder="Weight" type="number" #Weight{{ndx}} name="{{ndx}}Weight" id="{{ndx}}Weight"
                   [(ngModel)]="act.weight"><span matSuffix>kg</span>
          </mat-form-field></div>
<div><mat-form-field>
            <input matInput placeholder="Reps" type="number" #Reps name="{{ndx}}Reps" id="{{ndx}}Reps"
                   [(ngModel)]="act.reps">
          </mat-form-field></div>


        </div>


      </span>


      </mat-card>


    </div>
  </div>


  <br>
  <div class="flex-parent-row">
    <div class="center-panel">
      <mat-card>

        <button mat-raised-button type="button" [style.background-color]="'#818B98'" (click)="addActivity()">
          Add Activity
        </button>
        <button mat-raised-button color="primary" type="submit">
          Save
        </button>
      </mat-card>
    </div>
  </div>
</form>
<br><br>
