.branding-image {
  background-image: url('../../assets/running.jpg');
}
.branding-height{
  height: 40%;
}
.branding-caption {

  height: 8%;
  background-color: #b0b0b0;
  opacity: 0.7;
  text-align: right;
  line-height: 150%;

}
